.password-strength-container {
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
    font-family: Arial, sans-serif;
}

.password-input-container {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.password-input-wrapper {
    width: 100%;
    max-width: 600px;
    position: relative;
}

.password-input {
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid grey;
    padding: 10px 40px 10px 10px;
}

input:focus { outline: none }

.password-toggle-btn {
    top: 25px;
    right: 10px;
    border: none;
    cursor: pointer;
    position: absolute;
    background: transparent;
    transform: translateY(-50%);
}

.show-info-btn {
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #4caf50;
}

.instruction-panel {
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.close-btn {
    color: white;
    cursor: pointer;
    font-size: 20px;
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 3px;
    background-color: red;
}

.strength-indicators {
    gap: 5px;
    display: flex;
    margin-top: 20px;
}

.strength-indicator {
    flex: 1;
    height: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.password-strength-message {
    color: #555;
    margin-top: 30px;
}

.warning-message {
    color: red;
    font-size: 16px;
}

.success-message {
    color: green;
    font-size: 16px;
}

.medium-message {
    color: #FF8C00;
    font-size: 16px;
}

@media (max-width: 768px) {
    .password-input-wrapper {
        max-width: 100%;
    }

    .password-toggle-btn { top: 20px }

    .password-strength-message { font-size: 14px }

    .password-input { padding: 10px }
}

@media (max-width: 480px) {
    .password-strength-container { padding: 15px }

    .password-input-wrapper {
        align-items: stretch;
        flex-direction: column;
    }

    .show-info-btn {
        width: 100%;
        margin-top: 10px;
    }
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: gradientAnimation 15s ease infinite;
    background: linear-gradient(45deg, #d3cce3, #e9eff1, #a8c0ff);
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 0% 50%;
    }
}
