.password-input-wrapper {
	width: 100%;
	max-width: 600px;
	position: relative;
}

.password-input {
	width: 100%;
	font-size: 16px;
	border-radius: 5px;
	box-sizing: border-box;
	border: 1px solid grey;
	padding: 10px 40px 10px 10px;
}

input:focus { outline: none }

.password-toggle-btn {
	top: 25px;
	right: 10px;
	border: none;
	cursor: pointer;
	position: absolute;
	background: transparent;
	transform: translateY(-50%);
}

@media (max-width: 768px) {
	.password-input-wrapper {
		max-width: 100%;
	}
	
	.password-toggle-btn {
		top: 20px
	}
	
	.password-strength-message {
		font-size: 14px
	}
	
	.password-input {
		padding: 10px
	}
}

@media (max-width: 480px) {
	.password-strength-container {
		padding: 15px
	}
	
	.password-input-wrapper {
		align-items: stretch;
		flex-direction: column;
	}
	
	.show-info-btn {
		width: 100%;
		margin-top: 10px;
	}
}
